{% extends 'base.html.twig' %}

{% block body %}
    <h1>Une erreur s'est produite</h1>

    <h3>Nous sommes désolés, mais une erreur s'est produite lors du traitement de votre demande.</h3>

    <h3>Veuillez réessayer ultérieurement ou contacter le support technique si le problème persiste.</h3>

{% endblock %}
